<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2>Look up your local forecast</h2>
			<%= form_tag index_path do %>
				<%= text_field_tag :city, nil, placeholder: "City" %>
				<%= select_tag :state, options_for_select(@states), prompt: "Please Select" %>
				<%= submit_tag "Check Weather", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
<% if @error.present? %>
	<div class="row">
		<div class="col-md-6">
			<p><%= @error %></p>
		</div>
	</div>
<% elsif @current_observation.present? %>
	<div class="row">
		<div class="col-md-6">
			<p>Weather for <%=@current_observation['display_location']['full'] %></p>
			<p><%= @current_observation['temperature_string'] %></p>
			<p>Humidity <%=@current_observation['relative_humidity'] %></p>
		</div>
	</div>
<% end %>