<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2>Look up your local forecast!</h2>
			<%= form_tag index_path do %>
				<%= text_field_tag :city, nil, placeholder: "City" %>
				<%= select_tag :state, options_for_select(@states), prompt: "Please select" %>
				<%= submit_tag "Check Weather", class: "btn btn-primary" %>
			<%end%>
		</div>
	</div>
</div>
<% if @error.present? %>
	<div class="row">
		<div class="col-md-6">
			<p><%= @error %></p>
		</div>
	</div>
<% elsif @current_observation.present? %>
	<div class="row">
		<div class="col-md-6">
			<p>Weather for <%=@current_observation['display_location']['full']%></p>
			<p>Temperature: <%= @current_observation['temperature_string'] %></p>
			<p>Humidity: <%= @current_observation['relative_humidity'] %></p>
			<p>Sky: <%= @current_observation['weather'] %></p>
			<%= link_to "Full Forecast", @current_observation['forecast_url'], target: "_blank" %>
		</div>
	</div>
<% end %>

<h3>Previous Searches</h3>
<div class="row">
	<div class="col-md-6">
		<% @locations.each do |location| %>
			<p>
				<h4><%= link_to "#{location.city}, #{location.state}", "https://www.wunderground.com/weather/us/#{location.state}/#{location.city}", target: "_blank"%></h4>
				<% if location.latitude.present? && location.longitude.present? %>
					<p>Lat: <%= location.latitude %>, Lon: <%= location.longitude %></p>
					<p><%= link_to location.city + " on a map", "/locations/show?id=#{location.id}" %></p>
				<%end%>
			</p>
		<%end%>
	</div>
</div>

<script>
	var cities = [];
	var city = "";
	var state = "";
	var latitude = 0.0;
	var longitude = 0.0;
	<%@locations.each do |location|%>
		city = "<%= location.city.to_s %>";
		state = "<%= location.state.to_s %>";
		latitude = <%= location.latitude %>;
		longitude = <%= location.longitude %>;
		cities.push([city, state, latitude, longitude]);
	<%end%>
</script>

<div class="row">
	<div class="col-md-12">
		<div id="map-canvas">

		</div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap"
    async defer></script>