<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2>Look up your local forecast</h2>
			<%= form_tag index_path do %>
				<%= text_field_tag :city, nil, placeholder: "City" %>
				<%= select_tag :state, options_for_select(@states), prompt: "Please Select" %>
				<%= submit_tag "Check Weather", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
<br />
<br />
<% if @error.present? %>
	<div class="row">
		<div class="col-md-6">
			<p><%=@error %></p>
		</div>
	</div>
<% end %>


<% if @current_observation.present? %>
<div class="row">
	<div class="col-md-6">
		<p>Weather for <%=@current_observation['display_location']['full'] %></p>
		<p><%= @current_observation['temperature_string'] %></p>
		<p>The Humidity is <%= @current_observation['relative_humidity'] %></p>
			
		<%= link_to "Full Forecast", @current_observation['forecast_url'], target: "_blank" %>
	</div>
</div>
<% end %>

<div class="row">
	<div class="col-md-6">
		<h3>Your Cities: </h3>
			<ul> <% @locations.each do |location| %>

				<li>
					<%= location.city %>, <%= location.state %>
					<%=link_to "View on Map!", location_path(id: location.id) %>
					<!-- <p>Lat: <%= location.latitude %>, Lon: <%= location.longitude %></p> -->
					<%= link_to "Full Forecast", "http://www.wunderground.com/US/#{location.state}/#{location.city}.html", target: "_blank" %>
				</li>
			<% end %>
			</ul>	
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="map-canvas"></div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap"
    async defer></script>
<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->
