<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h2>Look up your local forecast</h2>
			<%= form_tag index_path do %>
				<%= text_field_tag :city, nil, placeholder: "City" %>
				<%= select_tag :state, options_for_select(@states), prompt: "Please Select" %>
				<%= submit_tag "Check Weather", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
<% if @error.present? %>
	<div class="row">
		<div class="col-md-6">
			<p><%= @error %></p>
		</div>
	</div>
<% elsif @current_observation.present? %>
	<div class="row">
		<div class="col-md-6">
			<p>Weather for <%=@current_observation['display_location']['full'] %></p>
			<p><%= @current_observation['temperature_string'] %></p>
			<p>Humidity <%=@current_observation['relative_humidity'] %></p>
			<%= link_to "Full Forecast", @current_observation['forecast_url'], target: "_blank" %>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="col-md-12">
		<h5>Previously searched cities:</h5>
		<ul>
			<% @locations.each do |location| %>
				<li>
					<%= location.city %>, <%= location.state %>
					<%= link_to "Full Forecast", "http://www.wunderground.com/US/#{location.state}/#{location.city}.html", target: "_blank" %>	
				</li>
			<% end %>
		</ul>
	</div>
</div>